[submodule "INSTRUCTOR/4.0 SPRITES and STORY/04.08 - Dialogue2 - LaFruzze - iEX"]
	path = INSTRUCTOR/4.0 SPRITES and STORY/04.08 - Dialogue2 - LaFruzze - iEX
	url = https://github.com/KOEIGO/04.08---Dialogue2---LaFruzze---iEX.git
